body {
    background: #c2dcec;
    font-family: Verdana, sans-serif;
}

.hidden {
    display: none !important;
}

.questionWrapper {
    background: aliceblue;
    border: 1px black solid;
    padding: 5px;
    margin: 10px;
    max-width: 400px;
    min-width: 280px;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    user-select: none;
    margin-bottom: 30px;
    text-decoration: none;
    /*border: none;*/
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
    transition: all 0.3s ease; /* Smooth transition on hover */
    isolation: isolate !important;
}

.questionWrapper:hover {
    cursor: pointer;
}

.answerWrapper {
    border: 1px green dashed;
    padding: 5px;
    margin: 10px;
    max-width: 400px;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
    user-select: none;
}

.correctAnswer {
    background: green !important;
    isolation: isolate !important;
}

.wrongAnswer{
    background: darkred !important;
    isolation: isolate !important;
}

.wrapper {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.modeChooserButton, .darkModeButton {
    font-size: 20px;
    margin: 10px;
    font-family: Verdana, sans-serif;
    min-width: 175px;
}

header {
    font-size: 25px;
    margin-bottom: 10px;
}

.gameWrapper {
    display: inline-block;
}

.darkmode-layer, .darkmode-toggle {
    bottom: unset !important;
}

body > button, .darkmode-toggle--white {
    display: none !important;
}

.clickable-div, #askedPrefix, #result {
    padding: 10px 20px;
    background-color: #00bcd4; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
    transition: all 0.1s ease; /* Smooth transition on hover */
    isolation: isolate !important;
}

.clickable-div:hover {
    background-color: #1e77a3; /* Darker green on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjusted shadow on hover */
    cursor: pointer;
    isolation: isolate !important;
}

.lookupGameWrapper {
    /*background-color: blue;*/
}

#twoLetterInput {
    font-size: 32px;
    max-width: 250px;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

#askedPrefix, #result {
    margin: 10px;
    font-size: 32px;
}

.showCorrectWrapper {
    margin-bottom: 10px;
}
